@font-face {
    font-family: Outfit;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
}
* {
    box-sizing: border-box;
}
html{
    width: 100vw;
}
body{
    background-color:#1E1E1E;
    margin:0;
    font-family: Outfit;
}
header{
    margin:0;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo{
        font-size: 1rem;        
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
    }
    .menu{
        margin:0;
        display: flex;
        flex-direction: column;
        gap: 3px; 

        .nav{
            background-color: #fff;
            height: 2px;
            width: 20px;
            }
        }
}
#heropage{
    // background-color: aqua;
    .greenblur{
        position: absolute;
        width: 80%;
        left:0;
        top:0;
        z-index: -1;
        }
    .heroFlex{
        .imgHero{
            width: 90%;
            padding-left: 2rem;
            margin:0;
            }
        .btnflex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap:0.5rem;
            }
            .tittle{
                    margin:0;
                    padding: 0 1rem;
                    font-size: 2rem;
                    text-align: center;
                    font-weight: 600;
                    color: #fff;   
            }
            .btnSell,
            .btnBuy {
                all: unset;
                background-color: #23263c;
                border: 2px solid transparent;
                border-radius: 50px;
                padding: 0.5rem 1rem 0.5rem 1rem;
                color: #fff;
                font-family: Outfit;
                text-transform: uppercase;
                font-weight: 800;
            }
        
            .btnBuy {
                border-color: #23263c;
                background-color: transparent;
            }
            }
    .blueblur{
         position: absolute;
        width: 60%;
        right:0;
        bottom:0;
        z-index: -1;
    }
}
    
#featuredOn{
    // background-color: gold;
    position: relative;
    h2{
        margin: 0;
        padding: 2rem 0 1rem 2rem;
        color: #fff;
        text-transform: uppercase;
    }
    .container {
        padding: 1rem 2rem;

        .names {
            position: relative;
            padding: 1rem;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-around;
            background-color: #23263c;
            border: 1px solid #5bd2bd;
            font-family: Outfit;
            font-weight: 600;
            color: #8d949f;

            &::after {
                box-sizing: border-box;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0.5rem;
                left: -0.5rem;
                border: 1px solid #5bd2bd;
                z-index: -1;
            }
        }
    }
}
#buyNFT{
    position: relative;
    padding: 1rem 3rem 0 3rem;
    .wrapper{
        color: #fff;
        text-align: center;
        * {
            margin-top: 0;
        }

        *:last-child {
            margin-bottom: 0;
        }
        .tittle{
            font-size: 2rem;
    }
            .highlight{
                color: #56CAB1;
                font-size: 2rem;
            }
        .bonus{
            color: #4C99BB;
            font-weight: 900;

        }
        .price{
            position: relative;
            font-size: 1.25rem;

            // &::after {
            //     box-sizing: border-box;
            //     content: '';
            //     position: absolute;
            //     width: 30px;
            //     height: 3px;
            //     top: 12.5rem;
            //     left: 15.5rem;
            //     border: 2px solid #5bd2bd;
            //     z-index: 10;
            // }
        }
        
        .arrow{
            position: absolute;            
            top:3px;
            fill: #fff;

        }
            // span{
            //     padding-right: 50px;
            // }
        .buy{
            position: relative;
            padding: 1.5rem 2rem;
            background-color: transparent;
            border: 1px solid #56CAB1;
            border-radius: 20px;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
    
            &::after {
                box-sizing: border-box;
                content: '';
                position: absolute;
                padding: 1.5rem 2rem;
                width: 100%;
                height: 100%;
                top: 0.25rem;
                left: -0.25rem;
                border: 1px solid #5bd2bd;
                border-radius: 20px;
                z-index: -1;
            }
        }
        .items{
            margin: 2rem 0;
            background-color: #3A5B6A;
            padding: 1rem 2.5rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-around;
            gap:1rem 2rem;
            justify-items: center;
        
            border: 1px solid #3A5B6A;
            border-radius: 30px;
        }
        .itemsFlex{
            list-style: none;
            color: #fff;
            display: flex;

         }
    }
        .monkey{
            width: 90%; 
            padding-left: 2rem;  
        }
    
}

#carryOut{
    position: relative;
    padding: 2rem 2rem 0 2rem;
    margin: 4rem 0;
    text-align: center;

    
    .tittle{
        margin:0;
        font-size: 2rem;
        text-align: center;
        font-weight: 1200;
        color: #fff; 
    }
    .view{
    all:unset;
    margin: 2rem 0 6rem 0;
    background-color: #1F143B;
    border: 1px solid #5BD2BD;
    border-radius: 50px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: #5BD2BD;
    text-transform: uppercase;
    }
    .monkeys {
        position: relative;


        .blueMonkey {
            top: 0;
            left: -2rem;
            transform: rotate(-25deg);
            position: relative;
            width: 50%;
        }

        .purpleMonkey {
            position: absolute;
            width: 50%;
            bottom: 0px;
            right: 1.5rem;
        }
    }
    .blur{
        position:absolute;
        bottom: 0;
        right: 0;
        z-index: -10;
        width: 60%;
    }
}
#testmonial{
    padding: 2rem 5rem 0 2rem;
    .littleTittle{
        margin: 0;
        color: #4C99BB;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }
    .tittle{
        margin:0;
        padding-bottom: 2rem;
        font-size: 2rem;
        text-align: center;
        font-weight: 1200;
        color: #fff; 
    }
    // .opinionsFlex{
    //     display: flex;
    //     flex-direction: row;
    // }
    .opinionsFlex{
        .opinions{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            gap:0.5rem;
            align-items: center;

            .clientsPhotos{
                border-radius: 50%;
                z-index: 1;
                width: 100px;
                margin-bottom: -10%;
            }
            .text{
                padding: 3rem 1rem;
                background-color: #24293F;
                border-radius: 10px;
                line-height: 1.5;

                .name{
                    margin:0;
                    font-size: 1.5rem;
                    text-align: center;
                    color: #fff; 
            }
                .description{
                    margin:0;
                    text-align: center;
                    color: #fff; 
                }
            }
    }
}
}
#becomePart{
    padding-top: 2rem;
    position: relative;
    .gradient{
        background-image: linear-gradient(#252A46, #39766D);
        z-index: -10;
        height: 80vh;
    }
    .tittle{
        margin:0;
        position: absolute;
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        color: #fff;
    }
    .btnProject{
        all:unset;
        margin:0;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        color: #fff;
        text-transform: uppercase;
    }
}
footer{
    padding: 2rem 2rem 0 2rem;
    position: relative;
        .littleTittle{
            padding-bottom: 1rem;
            margin: 0;
            color:#fff;
            text-align: center;
            font-size: 1.25rem;
        }
    ul{
        padding: 0;
        li{
            margin: 0;
            list-style-type: none;
            color: #fff;
            text-align: center;
            margin-bottom: 0.5rem;
        }
    }
    .email{
        padding: 0.5rem 1.5rem;
        color: #fff;
        font-size: 1.25rem;
        background-color: #3C8273;
        border-radius: 50px;  
    }
    .submit{
        all: unset;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0.5rem 1.5rem;
        background-color: #262E48;
        border-radius: 50px;
        color: #fff;
        font-size: 1.25rem;

    }
}
@media all and (max-width:768px){
    header{
        ul{
                display: none;
            }
        }
}
@media all and (min-width:768px){
    header{
        margin:0;
        padding: 2rem 0 2rem 4rem;
    ul{
        margin:0;
        display:flex;
        gap:3rem;

        list-style: none;
        color: #fff; 
        font-size: 1rem;
        cursor: pointer;   
    }

    .imgHero{
        width: 70%;
        margin-left:8rem;
    }
    .nav{
    display: none;
}
}

    #heropage{
        .heroFlex{
            .tittle{
                    padding-left: 3rem ;
                    font-size: 3rem; 
            }

            .btnSell {
                    font-size: 1rem;
            }
            .btnBuy {
                    font-size: 1rem;
            }
        }
}
    #featuredOn{
        h2{
            padding: 3rem 0 1rem 4rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
        .container{
            .names{
                padding-left: 4rem;
                font-size: 1.5rem; 
                gap:4rem;
                justify-content: space-between;
            }
        }
}	
    #buyNFT{
        .wrapper{
            .tittle{
                font-size: 3rem; 
            }
            .bonus{
                font-size: 1.5rem;
                .price{
                    font-size: 1.5rem;

                    // &::after {
                    //     box-sizing: border-box;
                    //     content: '';
                    //     position: absolute;
                    //     width: 50px;
                    //     height: 3px;
                    //     top: 3rem;
                    //     left: 3rem;
                    //     border: 3px solid #5bd2bd;
                    //     z-index: 10;
                    // }
                }
            }
            .buy{
                font-size: 1.5rem;
                
            }
                .items{
                    font-size: 1.5rem;

                }
            }
            .monkey{
                padding-left: 8rem;
                // width: 60%;
            }

}
    #carryOut{
        .tittle{
            font-size: 3rem;
        }
        .monkeys{
            .blueMonkey {
                width: 35%;
                margin-left: -3rem;
            }
    
            .purpleMonkey {
                width: 35%;
                margin-right: 6rem;
            }
        }
    }
    #testmonial{
    .littleTittle{
        font-size: 1.5rem;
    }
    .tittle{
        font-size: 3rem; 
    }
    .opinionsFlex{
        .opinions{
            .name{
                font-size: 2.5rem; 
            }       
                .clientsPhotos{
                        margin-bottom: -5%;
                    }
                .text{
                    .description{
                        font-size: 1.25rem;
                    }
                }
            }
        }
}
    #becomePart{
    .tittle{
        font-size: 3rem;
    }
    .btnProject{
        padding: 1.5rem 2rem 1.5rem 2rem;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 800;
    }
}
footer{
        .littleTittle{
            font-size: 2rem;
        }
        li{
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
        }
        .email{
        padding: 1.5rem 2.5rem;
        font-size: 2rem; 
    }
    .submit{
        right: 2rem;
        padding: 1.5rem 2.5rem;
        font-size: 2rem;

    }
}
}
@media all and (min-width:900px){

#heropage{
    .heroFlex{
        .imgHero{
        padding-left:4rem;
        }

            .btnSell {
                padding: 1rem 1.5rem;
                font-size: 1.25rem;
            }
            .btnBuy {
                padding: 1rem 1.5rem;
                font-size: 1.25rem;
            }
    }
}
#carryOut{
    .monkeys{
        .blueMonkey {
            width: 30%;
            margin-left: -5rem;
        }

        .purpleMonkey {
            width: 30%;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
        }
    }
}
// #testimonial{
//      .opinionsFlex{
//         .opinions {
//             .clientsPhotos{
//                 bottom: -5%;
//             }
//         }
//     }
// }
}
@media all and (min-width:1100px){
    header{
        position: relative;
        padding: 3rem 4rem;
        ul{
            display:flex;
            gap:4rem;
            font-size: 1.5rem;
            // justify-content: right;
        }  
        .logo{
            font-size: 1.5rem;

        }
    }
    #heropage{
        .greenblur{
            width: 50%;
        }

        .heroFlex{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            .imgHero{
            width: 40%;

            }
            .tittle{
                padding: 0;
                text-align: left;
                font-size: 3rem; 
                width: 40vw;
            }
            .btnflex{
                align-items: flex-start;
                color: green;
            }

            .btnHero{
                display: flex;
                gap: 2rem;
                justify-content: left;
                margin-top:3rem;
            }
        }
        .blueblur{
            width: 40%;
    }
    }
    #featuredOn{
        h2{
            font-size: 2rem;
        }
    }    
    #buyNFT{
        .flex{
            display: flex;
            flex-direction: row-reverse;
            gap:2rem;
            flex-wrap: nowrap;
            .wrapper{
                text-align: left;
                    .price{
                        font-size: 2rem;
                        // &::after {
                        //     box-sizing: border-box;
                        //     content: '';
                        //     position: absolute;
                        //     width: 50px;
                        //     height: 3px;
                        //     top: 12rem;
                        //     left: 23rem;
                        //     border: 3px solid #5bd2bd;
                        //     z-index: 10;
                        // }
                }           
                .buy{
                    font-size: 1.5rem;
                    }

                    }
                .monkey{
                    padding: 0;
                    width: 60%;
    
                }
            }
        }
                
    #carryOut{
    .tittle{
        font-size: 3rem; 
    }
    .monkeys{
        .blueMonkey {
            width: 25%;
            margin-left: -6rem;
        }

        .purpleMonkey {
            width: 25%;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);
        }
    }
}
    #testmonial{
    .opinionsFlex{
        display: flex;
        flex-direction: row;
        gap:2rem;

    .opinions{
        .clientsPhotos{
            margin-bottom: -15%;
            width: 150px;
        }
        .text{
            padding: 5.5rem 4rem;
        }
    }
}

}
    #becomePart{
        padding: 4rem 2rem;
        .gradient{
        height: 700px;
        border-radius: 50px;

        }
    }

footer{
        display: flex;
        gap:2rem;
        justify-content: space-around;
        .logo{
            align-self: center;
        }
        li{
            margin-bottom: 1.25rem;
            font-size: 1.5rem;
        }
        .form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .email{
                padding: 0.5rem 1.5rem;
                font-size: 1.5rem; 
            }
        }

        .submit{
            bottom: 4.1rem;
            padding: 0.5rem 1.5rem;
            font-size: 1.5rem;
    }
}
}
@media all and (min-width:1600px){
    header{
        position: relative;
        padding: 4rem 5rem;
        ul{
            display:flex;
            gap:7rem;
            font-size: 1.5rem;
            padding-right: 5rem;
            // justify-content: right;
        }
    }
    #heropage{
        .heroFlex{
            .imgHero{
                width: 45%;
                padding: 0;
            }
                .tittle{
                    font-size: 4rem; 
                }
        }
}
    #featuredOn{
    h2{
        font-size: 2rem;
}
}
    #buyNFT{
        .flex{
            .wrapper{

                .tittle{
                    font-size: 4rem;
                }
                .highlight{
                    font-size: 3rem;
                }
                .bonus{
                    font-size: 2rem;
                }
                .price{
                    font-size: 2.5rem;
                    text-align: left;
                
                }
                .monkey{
                    width: 45%;
                    
                }
                
                .buy{
                    font-size: 2rem;
                    align-self: left;
                    }
                    .items{
                        margin: 2rem 2rem 0 0;
                        width: 55vw;
                    }
                }
            .monkey{
                width: 40%;
            }
            }
    }
    #carryOut{
        .tittle{
            font-size: 4rem;
        }
        .monkeys{
                .tittle{
            font-size: 4rem;
        }
            .blueMonkey {
                width: 20%;
                margin-left: -rem;
            }

            .purpleMonkey {
                width: 20%;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%);
            }
        }
}
    #testmonial{
    .littleTittle{
        font-size: 2rem;
    }
    .tittle{
        font-size: 4rem;
    }
    .opinionsFlex{
        flex-direction: row;
    }
    .opinions{
        .clientsPhotos{
            width: 150px;
            margin-bottom: -10%;
        }
    }

}
    #becomePart{
        .tittle{
            font-size: 4rem;
        }
        .btnProject{
            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
            color: #fff;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }

}
@media all and (min-width:1750px){
    #heropage{
        .btnSell {
            font-size: 1.5rem;
        }
        .btnBuy {
            font-size: 1.5rem;
        }
        .btnflex{
            gap:2rem;
        }
        .tittle{
            font-size: 5.5rem;
        }
    }
#buyNFT{
    .flex{
        .wrapper{
            .tittle{
                font-size: 5rem;
            }
            .bonus{
                font-size: 2.5rem;
            }
            .price{
                font-size: 3rem;
            }
            .items{
                margin-top: 20rem;
            
            }
        }
    .monkey{
        margin-left: 2rem;
        width:45%;
    }
}
}
}

