@font-face {
    font-family: Outfit;
    src: url(fonts/static/Outfit-ExtraLight.ttf);
}

* {
    box-sizing: border-box;

}

html {
    width: 100vw;
}

body {
    background-color: #1e1e1e;
    margin: 0;
    font-family: Outfit;
}

header {
    margin: 0;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // background-color: red;

    .logo {
        font-size: 1rem;
        font-family: Outfit;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
    }

    .menu {
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .nav {
            background-color: #fff;
            height: 2px;
            width: 20px;
        }
    }
}

#heropage {

    // background-color: aqua;
    .blueblur {
        position: absolute;
        width: 60%;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .greenblur {
        position: absolute;
        width: 80%;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .imgHero {
        width: 90%;
        padding-left: 2rem;
        margin: 0;
    }

    //   👇 ! This is not a good selector name 
    .heropage {
        margin: 0;
        padding: 0 1rem;
        font-size: 2rem;
        text-align: center;
        font-family: Outfit;
        font-weight: 600;
        color: #fff;
    }

    .btnSell,
    .btnBuy {
        all: unset;
        background-color: #23263c;
        border: 2px solid transparent;
        border-radius: 50px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #fff;
        font-family: Outfit;
        text-transform: uppercase;
        font-weight: 800;
    }

    .btnBuy {
        border-color: #23263c;
        background-color: transparent;
    }

    .btnflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

#featuredOn {
    h2 {
        margin: 0;
        padding: 2rem 0 1rem 2rem;
        color: #fff;
        font-family: Outfit;
        font-size: 1.25rem;
        text-transform: uppercase;
    }

    .container {
        padding: 1rem 2rem;

        .names {
            position: relative;
            padding: 1rem;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: space-around;
            background-color: #23263c;
            border: 1px solid #5bd2bd;
            font-family: Outfit;
            font-weight: 600;
            color: #8d949f;

            &::after {
                box-sizing: border-box;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0.5rem;
                left: -0.5rem;
                border: 1px solid #5bd2bd;
                z-index: -1;
            }
        }
    }
}

#buyNFT {
    padding: 1rem 2rem 0 2rem;

    .wrapper {
        color: #fff;
        text-align: center;

        * {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        *:last-child {
            margin-bottom: 0;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;

            .highlight {
                color: #56cab1;
            }
        }

        .bonus {
            color: #4c99bb;
            font-weight: 900;
        }

        .price {
            font-size: 1.25rem;
        }

        .buy {
            background-color: transparent;
            border: 1px solid #56cab1;
            border-radius: 20px;
            padding: 1rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
        }

        .monkey {
            width: 100%;
        }
    }

    // 👇 this should be moved in the correct container
    .items {
        list-style: none;
        color: #fff;
        // 👇 
        margin-top: 2rem;
        background-color: #3a5b6a;
        padding: 1.25rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 1rem 2rem;
        justify-items: center;

        font-family: Outfit;
        font-size: 1rem;
        border: 1px solid #3a5b6a;
        border-radius: 30px;
    }
}

#carryOut {
    position: relative;
    padding: 2rem 2rem 0 2rem;
    // 👇 do we need this?
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .mission {
        margin: 0;
        font-size: 2rem;
        text-align: center;
        color: #fff;
    }

    .view {
        all: unset;
        margin-bottom: 4rem;
        background-color: #1f143b;
        border: 1px solid #5bd2bd;
        border-radius: 50px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #5bd2bd;
        font-family: Outfit;
        text-transform: uppercase;
        font-weight: 800;
    }

    .monkeys {
        position: relative;


        .blueMonkey {
            top: 0;
            left: 0;
            transform: rotate(-25deg);
            position: relative;
            width: 70%;
        }

        .purpleMonkey {
            position: absolute;
            width: 70%;
            bottom: 0px;
            right: -2rem;
        }
    }


    .blur {
        position: absolute;
        bottom: 0;
        z-index: -10;
        width: 100%;
    }
}

#testmonial {
    padding: 2rem 5rem 0 5rem;

    .littleTittle {
        margin: 0;
        color: #4c99bb;
        font-family: Outfit;
        font-size: 1.25rem;
        text-transform: uppercase;
        text-align: center;
    }

    .ourClients {
        margin: 0;
        font-size: 2rem;
        text-align: center;
        font-family: Outfit;
        font-weight: 1200;
        color: #fff;
    }
    // 👇 Nesting who?
    .clients {
        margin: 0;
        font-size: 1.5rem;
        text-align: center;
        font-family: Outfit;
        font-weight: 1200;
        color: #fff;
    }

    .clientsOpinion {
        margin: 0;
        font-size: 1rem;
        text-align: center;
        font-family: Outfit;
        font-weight: 1200;
        color: #fff;
    }

    .clientsPhotos {
        border-radius: 50%;
        z-index: 1;
        width: 30%;
        // 👇 -15% looks pretty nice ;)
        margin-bottom: -6%;
    }

    .text {
        padding: 2rem 1rem;
        background-color: #24293f;
        border-radius: 10px;
        line-height: 1.5;
    }

    .opinions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 0.5rem;
    }

    .opinionsFlex {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

#becomePart {
    padding: 2rem 0 0;
    position: relative;

    .gradient {
        background-image: linear-gradient(#252a46, #39766d);
        z-index: -10;
        height: 80vh;
    }

    .project {
        margin: 0;
        position: absolute;
        width: 60vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
        text-align: center;
        font-family: Outfit;
        font-weight: 1200;
        color: #fff;
    }

    .btnProject {
        all: unset;
        margin: 0;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #000;
        border: 1px solid #000;
        border-radius: 50px;
        padding: 1rem 1.5rem 1rem 1.5rem;
        color: #fff;
        font-family: Outfit;
        text-transform: uppercase;
        font-weight: 800;
    }
}

@media all and (min-width: 465px) {
    #carryOut {
        .purpleMonkey {
            width: 40%;
            right: 4rem;
        }
    }
}

@media all and (max-width: 768px) {
    header {
        ul {
            display: none;
        }
    }
}

@media all and (min-width: 768px) {
    header {
        margin: 0;
        padding: 2rem 0 2rem 4rem;

        ul {
            margin: 0;
            display: flex;
            gap: 3rem;

            list-style: none;
            font-family: outfit;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
        }

        .imgHero {
            width: 70%;
            margin-left: 8rem;
        }

        .nav {
            display: none;
        }
    }

    #heropage {
        .heropage {
            padding-left: 3rem;
            font-size: 3rem;
        }

        .btnSell {
            font-size: 1rem;
        }

        .btnBuy {
            font-size: 1rem;
        }
    }

    #featuredOn {
        p {
            padding: 3rem 0 1rem 4rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        .names {
            padding-left: 4rem;
            font-size: 1.5rem;
            gap: 4rem;
            justify-content: space-between;
        }

        .logo {
            font-size: 2rem;
        }

        .nav {
            display: none;
        }
    }

    #buyNFT {
        .firstPeople {
            font-size: 3rem;
        }

        .bonus {
            font-size: 1.5rem;
        }

        .price {
            font-size: 1.5rem;
        }

        .NFT {
            color: #56cab1;
        }

        .monkey {
            width: 70%;
        }

        .buy {
            font-size: 1.5rem;
        }

        .items {
            font-size: 1.5rem;
        }
    }

    #testmonial {
        .littleTittle {
            font-size: 1.5rem;
        }

        .ourClients {
            font-size: 3rem;
        }

        .clients {
            font-size: 2.5rem;
        }

        .clientsOpinion {
            font-size: 1.25rem;
        }

        .clientsPhotos {
            width: 15%;
            margin-bottom: -4%;
        }
    }

    #becomePart {
        .project {
            font-size: 3rem;
        }

        .btnProject {
            padding: 1.5rem 2rem 1.5rem 2rem;
            color: #fff;
            font-family: Outfit;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

@media all and (min-width: 900px) {
    #heropage {
        .imgHero {
            padding-left: 4rem;
        }

        .btnSell {
            padding: 1rem 1.5rem;
            font-size: 1.25rem;
        }

        .btnBuy {
            padding: 1rem 1.5rem;
            font-size: 1.25rem;
        }
    }

    #featuredOn {
        .names {
            padding: 2rem 2rem;
        }

    }
}

@media all and (min-width: 1100px) {
    header {
        position: relative;
        padding: 3rem 4rem;

        ul {
            display: flex;
            gap: 4rem;
            font-size: 1.5rem;
            // justify-content: right;
        }

        .logo {
            font-size: 1.5rem;
        }
    }

    #heropage {
        .greenblur {
            width: 50%;
        }

        .blueblur {
            width: 40%;
        }

        .heroFlex {
            display: flex;
            flex-direction: row-reverse;
            // align-items: center;
            justify-content: space-around;
        }

        .imgHero {
            width: 40%;
        }

        .heropage {
            text-align: left;
            font-size: 3rem;
            width: 40vw;
        }

        .btnflex {
            align-items: flex-start;
            color: green;
        }

        .heropage {
            padding: 0;
        }

        // .btnHero{
        //     justify-content: left;
        // }
        // .btnSell {
        //     padding: 1.25rem 2rem;
        //     font-size: 2rem;
        // }
        // .btnBuy {
        //     padding: 1.25rem 2rem;
        //     font-size: 2rem;
        // }
        .btnHero {
            gap: 3rem;
            justify-content: left;
            margin-left: 10rem;
            margin-top: 3rem;
        }

        // .btnBuy{
        //     font-size:10rem;
        //     padding: 1rem 3rem 1rem 3rem;
        // }
        // .btnSell{
        //     font-size:1.5rem;
        //     padding-left:3rem;
        //     padding-right:3rem;
        // }
        p {
            font-size: 2rem;
        }

        .names {
            font-size: 1.5rem;
            gap: 4rem;
            justify-content: space-around;
        }

        .logo {
            font-size: 2rem;
        }
    }

    #buyNFT {
        position: relative;

        .wrapper {
            padding-top: 3rem;
            flex-direction: row-reverse;
            align-items: flex-start;
            gap: 3rem;
        }

        .flexInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 1.5;
        }

        .firstPeople {
            text-align: left;
            // order: 2;
        }

        .bonus {
            text-align: left;
        }

        .price {
            font-size: 2rem;
        }

        .monkey {
            width: 40%;
            // order: 1;
        }

        .buy {
            font-size: 1.5rem;
            // order: 3;
        }

        .items {
            margin-right: 2rem;
            width: 50vw;
            position: absolute;
            right: 0;
            bottom: 0px;
            justify-items: center;
            font-size: 1.5rem;
        }

        .itemsFlex {
            list-style: none;
            color: #fff;
            display: flex;
            // background-color: red;
        }
    }

    #testmonial {
        .clientsPhotos {
            width: 40%;
            margin-bottom: -10%;
        }

        .opinionsFlex {
            flex-direction: row;
        }
    }
}

@media all and (min-width: 1600px) {
    header {
        position: relative;
        padding: 4rem 5rem;

        ul {
            display: flex;
            gap: 7rem;
            font-size: 1.5rem;
            padding-right: 5rem;
            // justify-content: right;
        }
    }

    #heropage {
        .imgHero {
            width: 45%;
            padding: 0;
        }

        .heropage {
            font-size: 4rem;
            // padding-left: 5rem;
        }
    }

    #featuredOn {
        p {
            font-size: 2rem;
        }
    }

    #buyNFT {
        .wrapper {
            flex-direction: row-reverse;
            gap: 7rem;
        }

        .flexInfo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            line-height: 1.5;
            gap: 0rem;
        }

        .firstPeople {
            font-size: 4rem;
        }

        .bonus {
            font-size: 2rem;
        }

        .price {
            font-size: 2.5rem;
        }

        .monkey {
            width: 45%;
        }

        .buy {
            font-size: 2rem;
        }

        .items {
            margin: 0 2rem 0 0;
            width: 55vw;
        }
    }

    #testmonial {
        .littleTittle {
            font-size: 2rem;
        }

        .ourClients {
            font-size: 4rem;
        }

        .clientsPhotos {
            width: 30%;
            margin-bottom: -10%;
        }

        .opinionsFlex {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    #becomePart {
        .project {
            font-size: 4rem;
        }

        .btnProject {
            padding: 1.5rem 2.5rem 1.5rem 2.5rem;
            color: #fff;
            font-family: Outfit;
            font-size: 2rem;
            text-transform: uppercase;
            font-weight: 800;
        }
    }
}

@media all and (min-width: 1750px) {
    #heropage {
        .btnSell {
            font-size: 1.5rem;
        }

        .btnBuy {
            font-size: 1.5rem;
        }

        .btnflex {
            gap: 2rem;
        }

        .heropage {
            font-size: 5.5rem;
        }
    }

    #buyNFT {
        .firstPeople {
            font-size: 5rem;
        }

        .bonus {
            font-size: 2.5rem;
        }

        .price {
            font-size: 3rem;
        }

        .wrapper {
            align-items: center;
        }

        .monkey {
            width: 40%;
        }

        .flexInfo {
            gap: 2rem;
            // margin-bottom: 7rem;
        }
    }
}