@font-face {
  font-family: Outfit;
  src: url(fonts/static/Outfit-ExtraLight.ttf);
}
html {
  width: 100vw;
}

body {
  background-color: #1E1E1E;
  margin: 0;
}

header {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 1rem;
  font-family: Outfit;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
header div.menu {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
header div.nav {
  background-color: #fff;
  height: 2px;
  width: 20px;
}

#heropage .blueblur {
  position: absolute;
  width: 60%;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#heropage .greenblur {
  position: absolute;
  width: 80%;
  left: 0;
  top: 0;
  z-index: -1;
}
#heropage .imgHero {
  width: 90%;
  padding-left: 2rem;
  margin: 0;
}

.heropage {
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  color: #fff;
}

.btnflex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btnSell {
  all: unset;
  background-color: #23263C;
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  font-family: Outfit;
  text-transform: uppercase;
  font-weight: 800;
}

.btnBuy {
  all: unset;
  border: 2px solid #23263C;
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  font-family: Outfit;
  text-transform: uppercase;
  font-weight: 800;
}

#featuredOn {
  position: relative;
}
#featuredOn p {
  margin: 0;
  padding: 2rem 0 1rem 2rem;
  color: #fff;
  font-family: Outfit;
  font-size: 1.25rem;
  text-transform: uppercase;
}
#featuredOn .names, #featuredOn .backgrounding {
  margin: 1rem 2rem;
  padding: 1rem 0 1rem 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  background-color: #23263C;
  border-color: #5BD2BD;
  border: 1px solid #5BD2BD;
  font-family: Outfit;
  font-weight: 600;
  color: #8D949F;
}
#featuredOn .container {
  width: 100%;
  height: 100%;
  position: relative;
}
#featuredOn .backgrounding {
  position: absolute;
  margin-left: 1.75rem;
  width: 79%;
  height: 57%;
  top: 0px;
  z-index: -1;
}

#buyNFT {
  padding: 0 2rem;
}
#buyNFT .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#buyNFT .flexInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#buyNFT .firstPeople {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  font-family: Outfit;
  font-weight: 1200;
  color: #fff;
}
#buyNFT .bonus {
  display: block;
  color: #4C99BB;
  font-family: Outfit;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
#buyNFT .price {
  font-size: 1.25rem;
}
#buyNFT .NFT {
  color: #56CAB1;
}
#buyNFT .monkey {
  width: 100%;
}
#buyNFT .buy {
  all: unset;
  border: 1px solid #56CAB1;
  border-radius: 20px;
  padding: 1rem;
  color: #fff;
  font-family: Outfit;
  text-transform: uppercase;
  font-weight: 800;
}
#buyNFT .items {
  margin-top: 2rem;
  background-color: #3A5B6A;
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  gap: 2rem;
  justify-items: center;
  font-family: Outfit;
  font-size: 1rem;
  border: 1px solid #3A5B6A;
  border-radius: 30px;
}
#buyNFT .itemsFlex {
  list-style: none;
  color: #fff;
  display: flex;
  background-color: red;
}

#carryOut {
  position: relative;
  padding: 2rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#carryOut .mission {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  font-family: Outfit;
  font-weight: 1200;
  color: #fff;
}
#carryOut .view {
  all: unset;
  margin-bottom: 4rem;
  background-color: #1F143B;
  border: 1px solid #5BD2BD;
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #5BD2BD;
  font-family: Outfit;
  text-transform: uppercase;
  font-weight: 800;
}
#carryOut .blueMonkey {
  position: relative;
  top: 0;
  left: 0;
  transform: rotate(-25deg);
  position: relative;
  width: 70%;
}
#carryOut .purpleMonkey {
  position: absolute;
  width: 45%;
  bottom: 0px;
  right: 2rem;
}
#carryOut .blur {
  position: absolute;
  bottom: 0;
  z-index: -10;
  width: 100%;
}

@media all and (max-width: 768px) {
  header ul {
    display: none;
  }
}
@media all and (min-width: 768px) {
  header {
    margin: 0;
    padding: 2rem 0 2rem 4rem;
  }
  header ul {
    margin: 0;
    display: flex;
    gap: 3rem;
    list-style: none;
    font-family: outfit;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  header .imgHero {
    width: 70%;
    margin-left: 8rem;
  }
  header .nav {
    display: none;
  }
  #heropage .heropage {
    padding-left: 3rem;
    font-size: 3rem;
  }
  #heropage .btnSell {
    font-size: 1rem;
  }
  #heropage .btnBuy {
    font-size: 1rem;
  }
  #featuredOn p {
    padding: 3rem 0 1rem 4rem;
    font-size: 1.5rem;
    font-weight: 700;
  }
  #featuredOn .names {
    padding-left: 4rem;
    font-size: 1.5rem;
    gap: 4rem;
    justify-content: space-between;
  }
  #featuredOn .logo {
    font-size: 2rem;
  }
  #featuredOn .nav {
    display: none;
  }
  #buyNFT .firstPeople {
    font-size: 3rem;
  }
  #buyNFT .bonus {
    font-size: 1.5rem;
  }
  #buyNFT .price {
    font-size: 1.5rem;
  }
  #buyNFT .NFT {
    color: #56CAB1;
  }
  #buyNFT .monkey {
    width: 70%;
  }
  #buyNFT .buy {
    font-size: 1.5rem;
  }
  #buyNFT .items {
    font-size: 1.5rem;
  }
}
@media all and (min-width: 900px) {
  #heropage img.imgHero {
    padding-left: 4rem;
  }
  #heropage button.btnSell {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }
  #heropage .btnBuy {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
  }
  #featuredOn .names {
    padding: 2rem 2rem;
  }
}
@media all and (min-width: 1100px) {
  header {
    position: relative;
    padding: 3rem 4rem;
  }
  header ul {
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
  }
  header .logo {
    font-size: 1.5rem;
  }
  #heropage .greenblur {
    width: 50%;
  }
  #heropage .blueblur {
    width: 40%;
  }
  #heropage .heroFlex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
  #heropage .imgHero {
    width: 40%;
  }
  #heropage .heropage {
    text-align: left;
    font-size: 3rem;
    width: 40vw;
  }
  #heropage .btnflex {
    align-items: flex-start;
    color: green;
  }
  #heropage .btnHero {
    gap: 3rem;
    justify-content: left;
    margin-left: 10rem;
    margin-top: 3rem;
  }
  #heropage p {
    font-size: 2rem;
  }
  #heropage .names {
    font-size: 1.5rem;
    gap: 4rem;
    justify-content: space-around;
  }
  #heropage .logo {
    font-size: 2rem;
  }
  #buyNFT {
    position: relative;
  }
  #buyNFT .wrapper {
    padding-top: 3rem;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  #buyNFT .flexInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
  }
  #buyNFT .firstPeople {
    text-align: left;
  }
  #buyNFT .bonus {
    text-align: left;
  }
  #buyNFT .price {
    font-size: 2rem;
  }
  #buyNFT .monkey {
    width: 50%;
  }
  #buyNFT .buy {
    font-size: 1.5rem;
  }
  #buyNFT .items {
    margin-right: 2rem;
    width: 50vw;
    position: absolute;
    right: 0;
    bottom: 0px;
    justify-items: center;
    font-size: 1.5rem;
  }
  #buyNFT .itemsFlex {
    list-style: none;
    color: #fff;
    display: flex;
  }
}
@media all and (min-width: 1600px) {
  header {
    position: relative;
    padding: 4rem 5rem;
  }
  header ul {
    display: flex;
    gap: 7rem;
    font-size: 1.5rem;
    padding-right: 5rem;
  }
  #heropage .imgHero {
    width: 45%;
    padding: 0;
  }
  #heropage .heropage {
    font-size: 4rem;
  }
  #heropage #featuredOn p {
    font-size: 2rem;
  }
  #buyNFT .wrapper {
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 5rem;
  }
  #buyNFT .flexInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5;
    gap: 0rem;
  }
  #buyNFT .firstPeople {
    font-size: 4rem;
  }
  #buyNFT .bonus {
    font-size: 2rem;
  }
  #buyNFT .price {
    font-size: 2.5rem;
  }
  #buyNFT .monkey {
    width: 50%;
  }
  #buyNFT .buy {
    font-size: 2rem;
  }
  #buyNFT .items {
    margin: 0 2rem 0 0;
    width: 55vw;
  }
  #buyNFT .itemsFlex {
    list-style: none;
    color: #fff;
    display: flex;
  }
}
@media all and (min-width: 1750px) {
  #buyNFT .wrapper {
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */